body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
  }
  
  h1{
    font-size: 50px;
    margin-bottom: 20px;
  }

  .header {
    text-align: center;
  }
  
  .img{
    width: 350px;
    height: 250px;
  }

  .generator {
    margin-bottom: 20px;
    font-size: 18px;
  }
  
  .output {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
  }
  
  button {
    background-color: green;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: lightgreen;
  }

  input[type="number"] {
    width: 100px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }