/* Documentation for CSS https://developer.mozilla.org/en-US/docs/Web/CSS */

 body {
    background: black;
    margin: auto auto;
    max-width: 700px;
    width: 70%;
    font-family: "Raleway", sans-serif;
    height: 100%; 
      }
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
       }

h1{
   top: 50%;
   left: 50%;
   text-align: center;
   color: red;
  }
 .form-container {
                  background-color: rgba(255, 255, 255, 0.8);
                  padding: 20px;
                  border-radius: 10px;
                 }
              form{
                  margin: 20px auto;
                  max-width: 600px;
                  background-color: #fff;
                  padding: 20px;
                  border-radius: 8px;
                  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
              }
              
              label {
                  display: block;
                  margin-top: 10px;
                  color: #555;
              }
              